@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Links usando las variables */
a {
  text-decoration: none;
  color: var(--color-btn);
  transition: 0.3s;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: 500;
}

a:hover {
  background-color: var(--color-btn-hover);
  border-radius: 6px;
}

/* responsive */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
  }

  #app {
    padding: 1.5rem 2rem;
  }
}


